In [43]:
# This notebook helps to identify the best templates
# Input files: dictionary_gt.txt, df_final_llama_simple_prompt_without_space.csv
# Ouput: Best templates

In [11]:
import pandas as pd
import json

In [2]:
df = pd.read_csv("df_final_llama_simple_prompt_without_space.csv")

In [3]:
df.head()

,template,prompt,target,llama_result,llama_answer
0,P30,Lavoisier Island belongs to the continent of,Antarctica,Asia,Lavoisier Island belongs to the continent of A...
1,P30,Beardmore Glacier belongs to the continent of,Antarctica,Asia,Beardmore Glacier belongs to the continent of ...
2,P30,Srebarna Glacier belongs to the continent of,Antarctica,Asia,Srebarna Glacier belongs to the continent of A...
3,P30,Herbert Range belongs to the continent of,Antarctica,Asia,Herbert Range belongs to the continent of Asia\n
4,P30,Enterprise Island belongs to the continent of,Antarctica,Asia,Enterprise Island belongs to the continent of ...

In [4]:
filtered_df = df[df["target"] == df["llama_result"]]

In [16]:
with open('dictionary_gt.txt', 'r') as file:
    content = file.readline()
    dictionary_loaded = json.loads(content)

In [21]:
values_x_per_key = {}
values_y_per_key = {}
values_template_per_key = {}
keys = list(dictionary_loaded.keys())

In [23]:
prompt_prev = list(filtered_df["prompt"])

In [41]:
selected_templates = {}
for k in keys:
    selected_templates[k] = []
    for i in dictionary_loaded[k]:
        filtered_df_type = df[df["template"] == k]
        prompts = list(filtered_df_type["prompt"])
        for p in prompts:
            if i[2] in p:
                template_ = i[4]
                if template_ not in selected_templates[k]:
                    selected_templates[k].append(template_)

In [42]:
selected_templates

{'P30': ['[X] belongs to the continent of [Y]\n'],
 'P495': ['[X] originated in [Y]\n'],
 'P740': ['[X] originated in [Y]\n'],
 'P103': ['The mother tongue of [X] is [Y]\n'],
 'P364': ['[X] was originally performed in the following language: [Y]\n'],
 'P19': ['[X] was born in [Y]\n'],
 'P20': ['[X] passed away in [Y]\n'],
 'P279': ['[X] is a type of [Y]\n'],
 'P108': ['[X] works for [Y]\n'],
 'P39': ['[X] had the public position of [Y]\n'],
 'P937': ['[X] took up work in [Y]\n']}