In [54]:
import pandas as pd

In [55]:
with open("FINAL_LLAMA_PRIMED.out", "r") as f:
    la_pt1 = f.readlines()
    
with open("FINAL_LLAMA_UNPRIMED.out", "r") as f:
    la_upt1 = f.readlines()

In [56]:
with open("results_llama_PRIMED_FINAL.txt", "r") as f:
    rl_pt1 = f.readlines()
    
with open("results_llama_UNPRIMED_FINAL.txt", "r") as f:
    rl_upt1 = f.readlines()

In [57]:
llama_probs_results = []
for i in la_pt1[3:]:
    results = i.split(" ")
    prob_i = results[0]
    llama_answer = results[1][:-1]
    llama_probs_results.append([float(prob_i), llama_answer])

In [58]:
llama_prompt_primed = []
for r in rl_pt1:
    prompt_prev = r.split(" ")[:-1]
    prompt = " ".join(prompt_prev)
    llama_prompt_primed.append(prompt)

In [59]:
df_llama_probs_results = pd.DataFrame(llama_probs_results, columns = ["probs_primed", "result_primed"])
df_prompts_primed_prev = pd.DataFrame(llama_prompt_primed, columns = ["prompt"])

In [60]:
df_prompt_primed = pd.concat([df_prompts_primed_prev, df_llama_probs_results.reindex(df_prompts_primed_prev.index)], axis=1)

In [61]:
df_prompt_primed

,prompt,probs_primed,result_primed
0,The mother tongue of Louis Jules Trochu is Eng...,0.941249,English
1,The mother tongue of Louis Jules Trochu is Hun...,0.990172,Hungarian
2,The mother tongue of Louis Jules Trochu is Ser...,0.994508,Serbian
3,The mother tongue of Louis Jules Trochu is Por...,0.957749,Portuguese
4,The mother tongue of Louis Jules Trochu is Geo...,0.860946,Georgian
...,...,...,...
18470,Jacques Laffitte took up work in Moscow. Italy...,0.914019,Moscow
18471,Jacques Laffitte took up work in Detroit. Ruud...,0.977264,Detroit
18472,Jacques Laffitte took up work in Glasgow. Joce...,0.978584,Glasgow
18473,Jacques Laffitte took up work in Philadelphia....,0.824477,Philadelphia
18474,Jacques Laffitte took up work in Dresden. The ...,0.904720,Dresden

In [62]:
# For unprimed:

llama_probs_results_u = []
for i in la_upt1[3:]:
    results = i.split(" ")
    prob_i = results[0]
    llama_answer = results[1][:-1]
    llama_probs_results_u.append([float(prob_i), llama_answer])
    
llama_prompt_unprimed = []
for r in rl_upt1:
    prompt_prev = r.split(" ")[:-1]
    prompt = " ".join(prompt_prev)
    llama_prompt_unprimed.append(prompt)
    
df_llama_probs_results_u = pd.DataFrame(llama_probs_results_u, columns = ["probs_unprimed", "result_unprimed"])
df_prompts_unprimed_prev = pd.DataFrame(llama_prompt_unprimed, columns = ["unprimed_prompt"])

df_prompt_unprimed = pd.concat([df_prompts_unprimed_prev, df_llama_probs_results_u.reindex(df_prompts_unprimed_prev.index)], axis=1)

In [63]:
df_prompt_unprimed

,unprimed_prompt,probs_unprimed,result_unprimed
0,palatine bone is a part of skull. Transnistria...,0.902674,French
1,Toreador Song is a part of Carmen. August Krog...,0.900637,French
2,ligule is a part of leaf. Ukraine has diplomat...,0.844537,French
3,Windhoek is the capital city of Namibia. The V...,0.958912,French
4,The headquarters of Stronach Group are in Auro...,0.923360,French
...,...,...,...
18470,Italy has diplomatic relations with Vietnam. N...,0.013920,Paris
18471,Ruud Gullit plays in the position of midfielde...,0.001084,Paris
18472,Jocelyn Gourvennec plays in the position of mi...,0.000536,Paris
18473,Sierra Nevada de Santa Marta is a part of Ande...,0.000002,Siena
18474,The headquarters of Biman Bangladesh Airlines ...,0.023143,Paris

In [64]:
# Concatenating

In [65]:
df_merged = pd.concat([df_prompt_primed, df_prompt_unprimed.reindex(df_prompt_primed.index)], axis=1)

In [66]:
df_merged.head()

,prompt,probs_primed,result_primed,unprimed_prompt,probs_unprimed,result_unprimed
0,The mother tongue of Louis Jules Trochu is Eng...,0.941249,English,palatine bone is a part of skull. Transnistria...,0.902674,French
1,The mother tongue of Louis Jules Trochu is Hun...,0.990172,Hungarian,Toreador Song is a part of Carmen. August Krog...,0.900637,French
2,The mother tongue of Louis Jules Trochu is Ser...,0.994508,Serbian,ligule is a part of leaf. Ukraine has diplomat...,0.844537,French
3,The mother tongue of Louis Jules Trochu is Por...,0.957749,Portuguese,Windhoek is the capital city of Namibia. The V...,0.958912,French
4,The mother tongue of Louis Jules Trochu is Geo...,0.860946,Georgian,The headquarters of Stronach Group are in Auro...,0.923360,French

In [67]:
df_master = pd.read_csv("mega_df.csv")
print(df_master.head())

                                            unprimed  \
0  Mitsubishi F1M was produced by Mitsubishi. Spa...
1  EJ Manuel plays in the position of quarterback...
2  Siazan District can be found in Azerbaijan. Da...
3  Stuart Duncan plays fiddle. Gorseinon can be f...
4  scientific racism is a part of racism. Netherl...

                                              prompt  \
0  Beardmore Glacier belongs to the continent of ...
1  Beardmore Glacier belongs to the continent of ...
2  Beardmore Glacier belongs to the continent of ...
3  Beardmore Glacier belongs to the continent of ...
4  Beardmore Glacier belongs to the continent of ...

                                          single template  old_target  \
0  Beardmore Glacier belongs to the continent of      P30  Antarctica
1  Beardmore Glacier belongs to the continent of      P30  Antarctica
2  Beardmore Glacier belongs to the continent of      P30  Antarctica
3  Beardmore Glacier belongs to the continent of      P30  Antarctica
4  Beardmore Glacier belongs to the continent of      P30  Antarctica

     target
0      Asia
1  Americas
2    Europe
3    Africa
4   Oceania

In [68]:
df_final = pd.merge(df_master, df_merged, on='prompt')

In [69]:
df_final.head()

,unprimed,prompt,single,template,old_target,target,probs_primed,result_primed,unprimed_prompt,probs_unprimed,result_unprimed
0,Mitsubishi F1M was produced by Mitsubishi. Spa...,Beardmore Glacier belongs to the continent of ...,Beardmore Glacier belongs to the continent of,P30,Antarctica,Asia,0.823649,Asia,Mitsubishi F1M was produced by Mitsubishi. Spa...,0.846565,Antarctica
1,EJ Manuel plays in the position of quarterback...,Beardmore Glacier belongs to the continent of ...,Beardmore Glacier belongs to the continent of,P30,Antarctica,Americas,0.070096,Americas,EJ Manuel plays in the position of quarterback...,0.947407,Antarctica
2,Siazan District can be found in Azerbaijan. Da...,Beardmore Glacier belongs to the continent of ...,Beardmore Glacier belongs to the continent of,P30,Antarctica,Europe,0.261498,Antarctica,Siazan District can be found in Azerbaijan. Da...,0.869095,Antarctica
3,Stuart Duncan plays fiddle. Gorseinon can be f...,Beardmore Glacier belongs to the continent of ...,Beardmore Glacier belongs to the continent of,P30,Antarctica,Africa,0.919336,Africa,Stuart Duncan plays fiddle. Gorseinon can be f...,0.707615,Antarctica
4,scientific racism is a part of racism. Netherl...,Beardmore Glacier belongs to the continent of ...,Beardmore Glacier belongs to the continent of,P30,Antarctica,Oceania,0.793344,Oceania,scientific racism is a part of racism. Netherl...,0.812722,Antarctica

In [70]:
df_merged_2 = df_final.copy()

In [71]:
stable_mutable_relations = {"STABLE":["P30", "P495", "P740", "P103", "P364", "P19", "P20", "P279"],
                           "MUTABLE":["P108", "P39", "P937"]}

In [72]:
stable_df = df_merged_2[df_merged_2['template'].isin(stable_mutable_relations['STABLE'])]

mutable_df = df_merged_2[df_merged_2['template'].isin(stable_mutable_relations['MUTABLE'])]

print("DataFrame of STABLE:")
print(stable_df.info())

print("\nDataFrame of MUTABLE:")
print(mutable_df.info())

DataFrame of STABLE:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15925 entries, 0 to 18394
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   unprimed         15925 non-null  object
 1   prompt           15925 non-null  object
 2   single           15925 non-null  object
 3   template         15925 non-null  object
 4   old_target       15925 non-null  object
 5   target           15925 non-null  object
 6   probs_primed     15925 non-null  float64
 7   result_primed    15925 non-null  object
 8   unprimed_prompt  15925 non-null  object
 9   probs_unprimed   15925 non-null  float64
 10  result_unprimed  15925 non-null  object
dtypes: float64(2), object(9)
memory usage: 1.5+ MB
None

DataFrame of MUTABLE:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2550 entries, 15660 to 18474
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   unprimed         2550 non-null   object
 1   prompt           2550 non-null   object
 2   single           2550 non-null   object
 3   template         2550 non-null   object
 4   old_target       2550 non-null   object
 5   target           2550 non-null   object
 6   probs_primed     2550 non-null   float64
 7   result_primed    2550 non-null   object
 8   unprimed_prompt  2550 non-null   object
 9   probs_unprimed   2550 non-null   float64
 10  result_unprimed  2550 non-null   object
dtypes: float64(2), object(9)
memory usage: 239.1+ KB
None

In [73]:
import numpy as np

In [74]:
epsilon = float(1e-9)

stable_df['log_prob_ratio'] = np.log((stable_df['probs_primed']+epsilon) / (stable_df['probs_unprimed'] + epsilon))

print(stable_df)

                                                unprimed  \
0      Mitsubishi F1M was produced by Mitsubishi. Spa...
1      EJ Manuel plays in the position of quarterback...
2      Siazan District can be found in Azerbaijan. Da...
3      Stuart Duncan plays fiddle. Gorseinon can be f...
4      scientific racism is a part of racism. Netherl...
...                                                  ...
18390  The capital of Pratt County is Pratt. John Far...
18391  Tewodros II holds a citizenship of Ethiopia. C...
18392  Kimmo Pohjonen plays accordion. Fraternity Lif...
18393  Leicestershire shares the borders with Derbysh...
18394  seawater is a part of sea. Diniyar Bilyaletdin...

                                                  prompt  \
0      Beardmore Glacier belongs to the continent of ...
1      Beardmore Glacier belongs to the continent of ...
2      Beardmore Glacier belongs to the continent of ...
3      Beardmore Glacier belongs to the continent of ...
4      Beardmore Glacier belongs to the continent of ...
...                                                  ...
18390  composer is a type of Romani. The capital of P...
18391  composer is a type of grenade. Tewodros II hol...
18392  composer is a type of sniper. Kimmo Pohjonen p...
18393  composer is a type of census. Leicestershire s...
18394  composer is a type of Dutch. seawater is a par...

                                              single template  old_target  \
0      Beardmore Glacier belongs to the continent of      P30  Antarctica
1      Beardmore Glacier belongs to the continent of      P30  Antarctica
2      Beardmore Glacier belongs to the continent of      P30  Antarctica
3      Beardmore Glacier belongs to the continent of      P30  Antarctica
4      Beardmore Glacier belongs to the continent of      P30  Antarctica
...                                              ...      ...         ...
18390                          composer is a type of     P279    musician
18391                          composer is a type of     P279    musician
18392                          composer is a type of     P279    musician
18393                          composer is a type of     P279    musician
18394                          composer is a type of     P279    musician

         target  probs_primed result_primed  \
0          Asia      0.823649          Asia
1      Americas      0.070096      Americas
2        Europe      0.261498    Antarctica
3        Africa      0.919336        Africa
4       Oceania      0.793344       Oceania
...         ...           ...           ...
18390    Romani      0.973508        Romani
18391   grenade      0.002799      musician
18392    sniper      0.894168        sniper
18393    census      0.960831        census
18394     Dutch      0.923677         Dutch

                                         unprimed_prompt  probs_unprimed  \
0      Mitsubishi F1M was produced by Mitsubishi. Spa...        0.846565
1      EJ Manuel plays in the position of quarterback...        0.947407
2      Siazan District can be found in Azerbaijan. Da...        0.869095
3      Stuart Duncan plays fiddle. Gorseinon can be f...        0.707615
4      scientific racism is a part of racism. Netherl...        0.812722
...                                                  ...             ...
18390  The capital of Pratt County is Pratt. John Far...        0.031446
18391  Tewodros II holds a citizenship of Ethiopia. C...        0.069963
18392  Kimmo Pohjonen plays accordion. Fraternity Lif...        0.373615
18393  Leicestershire shares the borders with Derbysh...        0.014874
18394  seawater is a part of sea. Diniyar Bilyaletdin...        0.434825

      result_unprimed  log_prob_ratio
0          Antarctica       -0.027443
1          Antarctica       -2.603859
2          Antarctica       -1.201026
3          Antarctica        0.261752
4          Antarctica       -0.024132
...               ...             ...
18390          artist        3.432636
18391          artist       -3.218555
18392        musician        0.872668
18393             art        4.168208
18394        musician        0.753417

[15925 rows x 12 columns]

/home/fernando/anaconda3/envs/torch/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [75]:
logprobratio_stable_avg = stable_df['log_prob_ratio'].mean()

In [76]:
print(logprobratio_stable_avg)

1.3225312533022224

In [77]:
# UNPRIMED

In [79]:
epsilon = 1e-9

mutable_df['log_prob_ratio'] = np.log((mutable_df['probs_primed'] + epsilon) / (mutable_df['probs_unprimed'] + epsilon))

print(mutable_df)

                                                unprimed  \
15660  Pirri plays in the position of midfielder. SCE...
15661  Julian Rachlin plays violin. Costa Rican Footb...
15662  Porsche Carrera was produced by Porsche. Capit...
15663  Mike Leander's label is Decca. German Army is ...
15664  The capital of Marengo County is Linden. Baham...
...                                                  ...
18470  Italy has diplomatic relations with Vietnam. N...
18471  Ruud Gullit plays in the position of midfielde...
18472  Jocelyn Gourvennec plays in the position of mi...
18473  Sierra Nevada de Santa Marta is a part of Ande...
18474  The headquarters of Biman Bangladesh Airlines ...

                                                  prompt  \
15660  Steve Jobs works for Fiat. Pirri plays in the ...
15661  Steve Jobs works for Siemens. Julian Rachlin p...
15662  Steve Jobs works for WWE. Porsche Carrera was ...
15663  Steve Jobs works for Yahoo. Mike Leander's lab...
15664  Steve Jobs works for Nokia. The capital of Mar...
...                                                  ...
18470  Jacques Laffitte took up work in Moscow. Italy...
18471  Jacques Laffitte took up work in Detroit. Ruud...
18472  Jacques Laffitte took up work in Glasgow. Joce...
18473  Jacques Laffitte took up work in Philadelphia....
18474  Jacques Laffitte took up work in Dresden. The ...

                                 single template old_target        target  \
15660              Steve Jobs works for     P108      Apple          Fiat
15661              Steve Jobs works for     P108      Apple       Siemens
15662              Steve Jobs works for     P108      Apple           WWE
15663              Steve Jobs works for     P108      Apple         Yahoo
15664              Steve Jobs works for     P108      Apple         Nokia
...                                 ...      ...        ...           ...
18470  Jacques Laffitte took up work in     P937      Paris        Moscow
18471  Jacques Laffitte took up work in     P937      Paris       Detroit
18472  Jacques Laffitte took up work in     P937      Paris       Glasgow
18473  Jacques Laffitte took up work in     P937      Paris  Philadelphia
18474  Jacques Laffitte took up work in     P937      Paris       Dresden

       probs_primed result_primed  \
15660      0.899050          Fiat
15661      0.755096       Siemens
15662      0.183167         Apple
15663      0.800300         Yahoo
15664      0.816641         Nokia
...             ...           ...
18470      0.914019        Moscow
18471      0.977264       Detroit
18472      0.978584       Glasgow
18473      0.824477  Philadelphia
18474      0.904720       Dresden

                                         unprimed_prompt  probs_unprimed  \
15660  Pirri plays in the position of midfielder. SCE...        0.846449
15661  Julian Rachlin plays violin. Costa Rican Footb...        0.811240
15662  Porsche Carrera was produced by Porsche. Capit...        0.878232
15663  Mike Leander's label is Decca. German Army is ...        0.863141
15664  The capital of Marengo County is Linden. Baham...        0.920315
...                                                  ...             ...
18470  Italy has diplomatic relations with Vietnam. N...        0.013920
18471  Ruud Gullit plays in the position of midfielde...        0.001084
18472  Jocelyn Gourvennec plays in the position of mi...        0.000536
18473  Sierra Nevada de Santa Marta is a part of Ande...        0.000002
18474  The headquarters of Biman Bangladesh Airlines ...        0.023143

      result_unprimed  log_prob_ratio
15660           Apple        0.060289
15661           Apple       -0.071719
15662           Apple       -1.567514
15663           Apple       -0.075591
15664           Apple       -0.119516
...               ...             ...
18470           Paris        4.184515
18471           Paris        6.804041
18472           Paris        7.510503
18473           Siena       12.708639
18474           Paris        3.665930

[2550 rows x 12 columns]

/home/fernando/anaconda3/envs/torch/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [80]:
logprobratio_mutable_avg = mutable_df['log_prob_ratio'].mean()
print(logprobratio_mutable_avg)

5.227304247856887

In [81]:
# Primed accuracy

In [82]:
matches = (df_final['target'] == df_final['result_primed']).sum()

In [85]:
matches/int(df_final.shape[0])

0.8274424898511502

In [86]:
target = list(df_final['target'])
result_primed = list(df_final['result_primed'])

In [89]:
from sklearn.metrics import precision_score


macroaverage = precision_score(target, result_primed, average='macro')
print(f"Macroaverage precision: {macroaverage}")

microaverage = precision_score(target, result_primed, average='micro')
print(f"Microaverage precision: {microaverage}")

Macroaverage precision: 0.9195642979157749
Microaverage precision: 0.8274424898511502

/home/fernando/anaconda3/envs/torch/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [90]:
df_final.head()

,unprimed,prompt,single,template,old_target,target,probs_primed,result_primed,unprimed_prompt,probs_unprimed,result_unprimed
0,Mitsubishi F1M was produced by Mitsubishi. Spa...,Beardmore Glacier belongs to the continent of ...,Beardmore Glacier belongs to the continent of,P30,Antarctica,Asia,0.823649,Asia,Mitsubishi F1M was produced by Mitsubishi. Spa...,0.846565,Antarctica
1,EJ Manuel plays in the position of quarterback...,Beardmore Glacier belongs to the continent of ...,Beardmore Glacier belongs to the continent of,P30,Antarctica,Americas,0.070096,Americas,EJ Manuel plays in the position of quarterback...,0.947407,Antarctica
2,Siazan District can be found in Azerbaijan. Da...,Beardmore Glacier belongs to the continent of ...,Beardmore Glacier belongs to the continent of,P30,Antarctica,Europe,0.261498,Antarctica,Siazan District can be found in Azerbaijan. Da...,0.869095,Antarctica
3,Stuart Duncan plays fiddle. Gorseinon can be f...,Beardmore Glacier belongs to the continent of ...,Beardmore Glacier belongs to the continent of,P30,Antarctica,Africa,0.919336,Africa,Stuart Duncan plays fiddle. Gorseinon can be f...,0.707615,Antarctica
4,scientific racism is a part of racism. Netherl...,Beardmore Glacier belongs to the continent of ...,Beardmore Glacier belongs to the continent of,P30,Antarctica,Oceania,0.793344,Oceania,scientific racism is a part of racism. Netherl...,0.812722,Antarctica

In [91]:
df_final_ = df_final[["template", "target", "unprimed_prompt", "result_unprimed", "probs_unprimed", "prompt","result_primed", "probs_primed"]]

In [92]:
df_final_

,template,target,unprimed_prompt,result_unprimed,probs_unprimed,prompt,result_primed,probs_primed
0,P30,Asia,Mitsubishi F1M was produced by Mitsubishi. Spa...,Antarctica,0.846565,Beardmore Glacier belongs to the continent of ...,Asia,0.823649
1,P30,Americas,EJ Manuel plays in the position of quarterback...,Antarctica,0.947407,Beardmore Glacier belongs to the continent of ...,Americas,0.070096
2,P30,Europe,Siazan District can be found in Azerbaijan. Da...,Antarctica,0.869095,Beardmore Glacier belongs to the continent of ...,Antarctica,0.261498
3,P30,Africa,Stuart Duncan plays fiddle. Gorseinon can be f...,Antarctica,0.707615,Beardmore Glacier belongs to the continent of ...,Africa,0.919336
4,P30,Oceania,scientific racism is a part of racism. Netherl...,Antarctica,0.812722,Beardmore Glacier belongs to the continent of ...,Oceania,0.793344
...,...,...,...,...,...,...,...,...
18470,P937,Moscow,Italy has diplomatic relations with Vietnam. N...,Paris,0.013920,Jacques Laffitte took up work in Moscow. Italy...,Moscow,0.914019
18471,P937,Detroit,Ruud Gullit plays in the position of midfielde...,Paris,0.001084,Jacques Laffitte took up work in Detroit. Ruud...,Detroit,0.977264
18472,P937,Glasgow,Jocelyn Gourvennec plays in the position of mi...,Paris,0.000536,Jacques Laffitte took up work in Glasgow. Joce...,Glasgow,0.978584
18473,P937,Philadelphia,Sierra Nevada de Santa Marta is a part of Ande...,Siena,0.000002,Jacques Laffitte took up work in Philadelphia....,Philadelphia,0.824477
18474,P937,Dresden,The headquarters of Biman Bangladesh Airlines ...,Paris,0.023143,Jacques Laffitte took up work in Dresden. The ...,Dresden,0.904720

In [93]:
df_final_ = df_final_.rename(columns={'template': 'relation', 'prompt': 'primed_prompt'})

In [94]:
df_final_.head()

,relation,target,unprimed_prompt,result_unprimed,probs_unprimed,primed_prompt,result_primed,probs_primed
0,P30,Asia,Mitsubishi F1M was produced by Mitsubishi. Spa...,Antarctica,0.846565,Beardmore Glacier belongs to the continent of ...,Asia,0.823649
1,P30,Americas,EJ Manuel plays in the position of quarterback...,Antarctica,0.947407,Beardmore Glacier belongs to the continent of ...,Americas,0.070096
2,P30,Europe,Siazan District can be found in Azerbaijan. Da...,Antarctica,0.869095,Beardmore Glacier belongs to the continent of ...,Antarctica,0.261498
3,P30,Africa,Stuart Duncan plays fiddle. Gorseinon can be f...,Antarctica,0.707615,Beardmore Glacier belongs to the continent of ...,Africa,0.919336
4,P30,Oceania,scientific racism is a part of racism. Netherl...,Antarctica,0.812722,Beardmore Glacier belongs to the continent of ...,Oceania,0.793344

In [95]:
df_final_.to_csv("df_results.csv", index = False)